@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(
    to right,
    #25295a,
    #0d3071,
    #4593ff,
    #0d3071,
    #25295a,
    #0d3071,
    #4593ff
  );
  background-size: 300% 300%;
  background-clip: text;
}

.gradient-bg {
  background: linear-gradient(to right, #25295a, #0d3071, #4593ff);
}

@layer utilities {
  .blur-backdrop-filter {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

@layer base {
  body {
    @apply bg-gray text-white leading-loose;
  }
  .h0 {
    @apply text-[48px] xl:text-[200px] leading-[1.1] font-normal;
  }
  .h01 {
    @apply text-[48px] xl:text-[150px] leading-[1.1] font-normal;
  }
  .h1 {
    @apply text-[48px] xl:text-[115px] leading-[1.1] font-normal;
  }
  .h2 {
    @apply text-[36px] xl:text-[100px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[30px] leading-[1.1] font-semibold;
  }
  .section {
    @apply py-8 xl:py-24 min-h-screen flex items-center;
  }
  .section-sm {
    @apply py-6 md:py-8 lg:py-12 xl:py-24 min-h-[300px] flex items-center;
  }
}
